.main {
    height: 100vh;
}

.aside-left,
.content,
.aside-right {
    height: calc( 100vh - 200px);
    float: left;
}

.aside-left,
.aside-right {
    width: 30%;
}
.content {
    width: 40%;
}

.header,
footer {
    max-height: 100px;
    height: 100px;
}
.header {
    background-color: blue;
}
.aside-right {
    background-color: chocolate;
}
.aside-left {
    background-color: blueviolet;
}
footer {
    clear: both;
    background-color: green;
}

@media(max-width:768px) {
    .aside-left,
    .content,
    .aside-right {
        width: 100%;
        float: none;
    }
    .aside-left,
    .aside-right {
        max-height: 50px;
    }
}